---

- name: Instalação do Datadog
  hosts: local
  become: true

  tasks:
    - name: Garantir que o Datadog Agent esteja rodando, configurado e atualizado
      community.docker.docker_container:
        name: dd-agent
        image: gcr.io/datadoghq/agent:7
        state: started
        pull: true  # Garante a atualização se houver imagem nova
        restart_policy: always
        privileged: true
        env:
          DD_API_KEY: "Minha_KEY"
          DD_SITE: "us5.datadoghq.com"
          DD_REMOTE_CONFIGURATION_ENABLED: "true"
          DD_DOGSTATSD_NON_LOCAL_TRAFFIC: "true"
        volumes:
          - "/var/run/docker.sock:/var/run/docker.sock:ro"
          - "/proc/:/host/proc/:ro"
          - "/sys/fs/cgroup/:/host/sys/fs/cgroup:ro"
          - "/var/lib/docker/containers:/var/lib/docker/containers:ro"
